{% extends 'base.html' %}
{% block conteudo %}

<h2 class="text-center">Cadastrar Livros</h2>
<hr>
<form action="{{url_for('adiciona_livro')}}" class="form-group" method="POST">
    <label>Nome</label>
    <input type="text" name="nome" placeholder="Nome do Livro" required>
    <label>Descrição</label>
    <input type="text" name="descricao" placeholder="Descrição do Livro" required>
    <label>Valor</label>
    <input type="number" name="valor" placeholder="Valor do Livro" required>
    <button class="btn btn-success">Adicionar</button>
</form>

{% endblock conteudo %}